header {
    background-color: #1e1e1e;
    color: #f5f5f5;
    border-top: 4px solid #b30000;
    border-bottom: 4px solid #b30000;
    position: relative;
}

ul {
    display: flex;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}


li {
    padding: 5px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

li:hover {
    color: #b30000;
}

.nav-styles {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}